/* en EM */
/*
div {
	font-size: 45px;
	text-align: justify;
}

.intro {
	font-size: 0.46666666666em;
	margin-top: 0.71428571428em; 
	padding-left: 0.95238095238em;
	padding-right: 0.95238095238em;
}

div h1 {
	font-size: 1em; 
	text-align: center;
}

div p {
	font-size: 0.35555555555em; 
	margin-top: 0.9375em;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

div p a {
	font-size: 0.85em; 
} */


/* en REM */
:root { font-size:20px; }

div {
	text-align: justify;
}

.intro {
	font-size: 1.05rem;
}

div h1 {
	font-size: 2.25rem; 
	text-align: center;
}

div p {
	font-size: 0.8rem; 
	margin-top: 0.75rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

div p a {
	font-size: 0.85em; 
}