/* GENERAL */
.banniere {
	width:100%;
}
/* DESKTOP */

/* MOBILE */
@media (max-device-width:650px) {
	.header {
		height: 100vh;
		width: 6rem;
		background-color: black;
	}

	.logo {
		width: 5rem;
		height: 5rem;
		margin:0.5rem;
	}

	.banniere {
		width:100px;
	}
}